MONAD_RPC_URL=https://testnet-rpc.monad.xyz
PRIVATE_KEY_COORDINATOR=
PRIVATE_KEY_NODE_A=
PRIVATE_KEY_NODE_B=
PRIVATE_KEY_NODE_C=
PRIVATE_KEY_NODE_D=
ADDRESS_NODE_A=
ADDRESS_NODE_B=
ADDRESS_NODE_C=
ADDRESS_NODE_D=
SCORING_ENGINE_ADDRESS=
STAKE_VAULT_ADDRESS=
NODE_REGISTRY_ADDRESS=
